<!DOCTYPE html>
<html 
    lang="fr"
    xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www/ultraq.net.nz/thymeleaf/layout"
    layout:decorate="template"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitations | Liste</title>
</head>
<body>
    <div layout:fragment="page_content">
        <div class="container mt-5">
            <div class="card">
                <div class="card-header">
                    A louer
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Département</th>
                            <th>m²</th>
                            <th>Prix</th>
                            <th>Actions</th>
                        </tr>
                        <tr th:each="h:${habitations}">
                            <td th:text="${h.id}"> </td>
                            <td th:text="${h.nom}"> </td>
                            <td th:text="${h.departement}"> </td>
                            <td th:text="${h.superficie}"> </td>
                            <td th:text="${h.prix}"></td>
                            <td>            
                                <button>
                                    <a th:href="@{habitations/update/{id}(id=${h.id})}">Modifier</a>
                                </button>         
                                <button>
                                    <a th:href="@{habitations/delete/{id}(id=${h.id})}">Supprimer</a>
                                </button> 
                            </td>
                        </tr>
                    </table>
                    
                    <h3>Ajouter une habitation :</h3>                    
                    <form th:action="@{habitations/save}" method="post">
                        <div class="form-group">
                            <label for="id">Id :</label>
                            <input type="text" name="id" th:value="${habitation.id}" id="id" placeholder="Id">
                        </div>
                        <div class="form-group">
                            <label for="nom">Nom :</label>
                            <input type="text" name="nom" id="nom" th:value="${habitation.nom}" placeholder="Nom">
                        </div>
                        <div class="form-group">
                            <label for="departement">Département :</label>
                            <input type="number" name="departement" id="departement" th:value="${habitation.departement}" placeholder="Département">
                        </div>
                        <div class="form-group">
                            <label for="superficie">Superficie :</label>
                            <input type="number" name="superficie" id="superficie" th:value="${habitation.superficie}" placeholder="Superficie">                            
                        </div>
                        <div class="form-group">
                            <label for="prix">Prix :</label>
                            <input type="number" name="prix" id="prix" th:value="${habitation.prix}" placeholder="Prix">                            
                        </div>
                        <input type="submit" value="Ajouter">
                    </form>
                        
                </div>
            </div>
        </div>
      </div>
</body>
</html>